services:
  db:
    image: postgres:16.4
    restart: "no"
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}"]
      interval: 5s
      timeout: 3s
      retries: 20

  app:
    container_name: buildin-test-app
    image: app:latest
    build:
      context: .
      dockerfile: Dockerfile
    stop_signal: SIGINT
    restart: "no"
    env_file: .env
    ports:
      - "8000:8000"
    init: true
    depends_on:
      db:
        condition: service_healthy